<table>
  <tr><%= image_tag user.get_profile_image, size:"100x100" %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.nickname %></th>
  </tr>
  <tr>
	  <th>自己紹介</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>
      <%= link_to new_activity_point_path do %>
         活動地点登録
      <% end %>
    </th>
  </tr>
  <tr>
    <th>
      <%= link_to  activity_point_path(current_user) do %>
        活動地点確認
      <% end %>
    </th>
  </tr>
  <tr>
    <th>
      <%= link_to  notifications_path do %>
        通知一覧
      <% end %>
    </th>
  </tr>
  <tr>
    <th>
      <%= link_to  matchings_path do %>
        やりとり一覧
      <% end %>
    </th>
  </tr>
  <tr>
    <th>
      <%= link_to  edit_user_path(current_user) do %>
        アカウント情報
      <% end %>
    </th>
  </tr>
  <tr>
    <th>
      <%= link_to  destroy_user_session_path, method: :delete do %>
        ログアウト
      <% end %>
    </th>
  </tr>
  <tr>
    <th>
      <%= link_to  users_unsubscribe_path do %>
        退会
      <% end %>
    </th>
  </tr>

</table>
